h1 {
  background-color: pink;
  text-align: center;
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  flex-wrap: nowrap;
}

.character {
  background-color: red; /* Standaard achtergrondkleur, overschrijf dit per karakter */
  text-align: center;
  height: 100px;
  width: 150px;
  border-radius: 10%;
  padding-top: 90px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin: 0 7.5px;
  transition: order 1s ease-in-out;
}

#marioplaatje,
#luigiplaatje,
#toadplaatje {
  width: 100px;
  position: absolute;
  top: -50px;
}

.mario {
  background-color: red;
}

.luigi {
  background-color: rgb(6, 162, 6);
}

.toad {
  background-color: rgb(226, 187, 70);
}

#prev,
#next {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 47%;
}

#prev {
  margin-right: 10px; /* Zorgt voor een kleine ruimte tussen de knop en Mario */
  text-align: center;
}

#next {
  margin-left: 10px; /* Zorgt voor een kleine ruimte tussen de knop en Toad */
}
